$primary-color: hsl(225, 100%, 94%);
$primary-color-2: hsl(245, 75%, 52%);

$secondary-color: hsl(225, 100%, 98%);
$secondary-color-2: hsl(224, 23%, 55%);
$secondary-color-3: hsl(223, 47%, 23%);
$secondary-color-4: hsl(245, 83%, 68%);

@mixin divBorderDebug($color){
    border: 3px solid $color;
}